
    body {
      font-family: Arial, sans-serif;
     background-image: url('1.jpeg');
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .login-container {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 20px;
      margin: 50px auto;
      padding: 50px;
      width: 300px;
      text-align: center;
    }

    .login-container h2 {
      text-align: center;
    }

    .login-container input[type="text"],
    .login-container input[type="password"],
    .login-container input[type="number"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .login-container button {
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
    }

    .login-container button:hover {
      background-color: #45a049;
    }

    .login-container .register-link {
      text-align: center;
      display: block;
      margin-top: 10px;
    }

    #output {
      margin-top: 20px;
    }
